@import "../../scss/colors.scss";
@import "../../scss/typography.scss";
.container {
  min-height: 100px;
  background-color: $primary-1;
  @include font-header-item;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-item {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  &:hover {
    font-size: calc(110%);
  }
}
